Repository mongodb/libmongocrypt, changes with the owners that CODEOWNERS names for each.
All owners: @nbbeeken, @durran, @baileympearson, @dariakp, @addaleax, @ShaneHarvey, @blink1073, @juliusgeo, @jyemin, @rozza, @DmitryLukyanov

CODEOWNERS:

# Code Owners will automatically be added as reviewers on PRs

# NodeJS Bindings
bindings/node @nbbeeken @durran @baileympearson @dariakp @addaleax

# Python Bindings
bindings/python @ShaneHarvey @blink1073 @juliusgeo

# Java Bindings
bindings/java @jyemin @rozza

# CSharp Bindings
bindings/cs @DmitryLukyanov

fixup: review comments
  bindings/node/lib/autoEncrypter.js
  bindings/node/test/autoEncrypter.test.js
Owners: @nbbeeken, @durran, @baileympearson, @dariakp, @addaleax

fixup: the linter has ~opinions~
  bindings/node/test/autoEncrypter.test.js
Owners: @nbbeeken, @durran, @baileympearson, @dariakp, @addaleax

No global WIN32_LEAN_AND_MEAN required. [Fix MONGOCRYPT-390] (#258)
  CMakeLists.txt
  src/mlib/error.h
  src/mlib/path.h
  src/mlib/str.h
  src/mlib/thread.h
  src/mlib/windows-lean.h
Owners: none

Compile Warnings-as-errors Cleanup (#256)
  .evergreen/build_all.sh
  .evergreen/config.yml
  CMakeLists.txt
  bindings/node/etc/build-static.sh
  cmake/MongoC-Warnings.cmake
  src/mlib/thread.h
  src/mongocrypt-dll-private.h
Owners: @nbbeeken, @durran, @baileympearson, @dariakp, @addaleax

MONGOCRYPT-391 add 32 bit Windows build variant (#262)
  .evergreen/build_install_bson.sh
  .evergreen/config.yml
  .evergreen/linker-tests.sh
  .evergreen/pkgconfig-tests.sh
  bindings/node/.evergreen/setup_environment.sh
  bindings/node/etc/build-static.sh
Owners: @nbbeeken, @durran, @baileympearson, @dariakp, @addaleax

update CHANGELOG.md for 1.3.2
  CHANGELOG.md
Owners: none

MONGOCRYPT-411 Support releases from branches (#264)
  .evergreen/config.yml
  README.md
Owners: none

fixup: review comment
  bindings/node/test/autoEncrypter.test.js
Owners: @nbbeeken, @durran, @baileympearson, @dariakp, @addaleax

update build.gradle.kts for 1.3.2-rc0
  bindings/java/mongocrypt/build.gradle.kts
Owners: @jyemin, @rozza

update build.gradle.kts for 1.3.3-SNAPSHOT
  bindings/java/mongocrypt/build.gradle.kts
Owners: @jyemin, @rozza

feat(NODE-3978): allow identifying decrypted fields for internal usage/testing (#266)
  bindings/node/lib/autoEncrypter.js
  bindings/node/test/autoEncrypter.test.js
Owners: @nbbeeken, @durran, @baileympearson, @dariakp, @addaleax
